body{
    color: deeppink;
    text-align: center;
    font-family: "Arial";
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #000;
    margin: 0 auto;
}

#container
{
    font-size: 20px;
}